/*Contact Us*/
#contactus {
	font-size: 14px
}
#contactus .row_contact .inputbox {
	width: 96%;
	background: #FFFFFF;
	border: 1px solid #f0f0f0;
	border-top: 1px solid #b6b6b6;
	border-left: 1px solid #b6b6b6;
	height: 30px;
	line-height: 30px
}
#contactus textarea {
	width: 96%;
	background: #FFFFFF;
	border: 1px solid #f0f0f0;
	border-top: 1px solid #b6b6b6;
	border-left: 1px solid #b6b6b6;
}
.contact_info {
	background: none repeat scroll 0 0 #EBEBEB;
	margin-bottom: 13px;
	font-size: 14px;
	width: 100%
}
.contact_info .h2Title {
	margin-bottom: 10px
}
.contact_info p {
	margin: 3px 0
}
.contact_note {
	clear: right;
	width: 100%;
	background: none repeat scroll 0 0 #EBEBEB;
	margin-bottom: 10px;
}
.ct_inner {
	padding: 20px
}
.form_contact {
	float: left;
	margin: 0 auto;
	padding: 10px;
	background: url(../Images/advisoryBg.png) repeat scroll 0 44px rgba(0, 0, 0, 0);
}
.form_contact p {
	margin: 0 0 10px 0
}
div.row_contact {
	width: 100%;
	float: left;
	margin-bottom: 5px;
	position: relative;
}
#contactus .left_row {
	float: left;
	display: block;
	width: 30%;
	line-height: 30x;
	text-align: right;
}
#contactus  .right_row {
	float: left;
	width: 65%;
	margin-left: 5%;
	display: block;
	text-align: left;
}
.write_comment label {
	padding: 1px 7px 0;
	position: absolute;
	top: 4px;
	z-index: 1;
	color: #3e3e3e;
}
#contactus .form_contact .type_option {
	width: 170px;
	padding: 3px 2px;
	height: 25px;
	line-height: 20px;
	border: 1px solid #afafaf;
	font-size: 13px;
}
#contactus .send_cmt, #contactus input .send_cmt {
	display: inline-block;
	width: 100px;
	padding: 8px 0;
	cursor: pointer;
	float:left;
	margin: 15px 0 0 10px
}
.form_contact input.send_cmt, #contactus input.reset_cmt {
	margin-right: 10px
}
.send_cmt:hover {
	text-decoration: none;
	color: #FFFFFF
}
.reset {
	text-align: right;
	border: none;
}
.required {
	color: #F00;
}
#send_btn {
	text-align: center
}
@media only screen and (max-width: 979px) {
.send_cmt, .form_web input.send_cmt {
padding: 4px 0;
margin-left: 0
}
}
@media only screen and (max-width: 767px) {
div.row_account .inputbox, div.row_account .date_send table, .form_web textarea {
width: 100%;
margin-left: 0;
text-align: left;
margin-bottom: 5px
}
.contact_info { margin-top: 20px }
}
@media only screen and (max-width: 479px) {
#contactus .left_row, #contactus  .right_row {
width: 100%;
margin-left: 0;
margin-bottom: 10px;
text-align: left;
}
div.row_contact { width: 90%; margin: 0 5% }
}
