/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/*Macbook pro 1440x900*/
/*================================================== */
 @media only screen and (min-width: 1366px) and (max-width: 1440px) {
}
/*Some laptop 1366x768*/
/*================================================== */
 @media only screen and (min-width: 1280px) and (max-width: 1366px) {
}
/*Macbook air 1280x800*/
/*================================================== */
 @media only screen and (min-width: 1024px) and (max-width: 1280px) {
}
 @media only screen and (min-width: 1024px) and (max-width: 1199px) {
header {
 height: 230px;
background: #F8F8F8
}
 #banner_head, #header_r {
float: right;
width: 90%
}
 #banner_head {
text-align: center
}
}
@media only screen and (max-width: 1024px) {
	 	 /*Header*/
header {
 height: 230px;
background: #F8F8F8
}
#banner_head, #header_r {
float: right;
width: 65%;
text-align: center
}
/*Menu*/
#cssmenu > ul {
float: left
}
#cssmenu > ul > li > a {
font-size: 0.9em;
padding: 0 8px
}
.container-spp {
top: 260px
}
}

/*Most netbook 1024x600*/
/*================================================== */
 @media only screen and (min-width: 960px) and (max-width: 1199px) {
 #list_gallery_img .img_item {
width: 25%
}
}
/*Most Ipad 1024x768*/
/*================================================== */
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
 #list_gallery_img .img_item {
width: 33.3%
}
}
/*IPhone 4 960x640*/
/*================================================== */
 @media only screen and (max-width: 960px) {
 #head_hotline {
margin-top: 15px;
clear: both;
margin-right: 0
}
}
/*Google nexus one 4 800x480*/
/*================================================== */
 
 @media only screen and (max-width: 767px) {
body {
 font-size: 100%;
}
.fullsize {
width: 100% !important
}
/*Header*/
header {
height: auto
}
#logo {
width: 280px;
text-align: center
}
.CircleBlock {
 top: -8%;
 left: 50%;
 margin-left: -140px
}
 #banner_head {
 float: right;
width: 56.25%;
text-align: center
}
#header_r {
float: right;
width: 56.25%;
text-align: right
}
.item_fw.four.columns {
width: 50%;
margin-top: 20px
}
.function_web .item_fw div {
background: #f5f5f5;
-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
 box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
max-width: 75%;
padding-top: 20px;
margin-bottom: 20px
}
 .function_web .item_fw span {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
background: #a22085
}
.function_web .col_title {
height: 55px
}
.function_web p {
height: 194px
}
/*Footer*/
.col_menuFooter {
margin: 0 auto
}
.col_footer_ct {
height: auto
}
.row_footer .one-third.column {
float: none !important;
width: 100%
}
#likebox {
float: none
}
footer > div {
text-align: center
}
#list_gallery_img .img_item {
width: 50%
}
/*Regis Sikin*/
.selected_skin, .form_regis {
width: 100%
}
.selected_skin a {
height: auto
}
.form textarea {
width: 93%
}
.row_regis img {
margin-left: 4%
}
}
@media only screen and (max-width: 639px) {
/*Header*/
header {
height: auto
}
#logo {
width: 100%;
height: 250px;
text-align: center
}
#head_hotline {
display: none
}
.sidebar {
left: 50%;
margin-left: -140px
}
 #banner_head {
width: 100%;
text-align: center
}
#header_r {
width: 70%;
text-align: left;
position: absolute;
bottom: -46px;
left: 0;
z-index: 100
}
#search_head {
float: left
}
.item_fw.four.columns {
width: 100%
}
.function_web .item_fw div, .function_web p {
height: auto
}
.function_web .item_fw div {
padding-bottom: 15px
}
/*Support Online*/
.title-spp {
width: 20px
}
.title-contact {
left: -25px;
top: 0
}
.title-contact p {
width: 20px;
height: 40px;
background-image: url(../Images/support_online_mobile.png)
}
.container-spp {
top: 0;
}
}
/*Meizu M8 one 4 720x480*/
/*================================================== */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
/*Toolbar*/
a.print {
 background-position: 0 5px;
}
a.email {
 background-position: 0 -29px;
}
a.opinion {
 background-position: 0 -69px;
}
 #outter_print {
width: 92%
}
.print_ct img {
max-width: 100%;
height: auto
}
}
/*IPhone 3G 480x320*/
/*================================================== */
 @media only screen and (max-width: 480px) {
.fullsize480 {
width: 100% !important
}
.img_news img {
width: 100%;
margin-right: 0;
padding: 0;
margin-bottom: 10px;
border: 0;
-webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0
}
 .like_face, .toolbar {
float: none;
clear: both;
margin: 8px 0 5px 0;
text-align: center
}
#list_gallery_img .img_item {
width: 100%
}
#list_gallery_img a {
height: auto
}
/*Regis Skin*/
div.row_regis {
width: 100%
}
.row_regis .inputbox_dk, .form textarea {
float: left !important
}
.row_regis .inputbox_dk {
 font: 12px/28px Arial;
 height: 28px;
 width: 94%;
}
.row_regis img {
margin-left: 0
}
}

/*Mobile*/
/*================================================== */
 @media only screen and (max-width: 320px) {
body {
overflow-x: hidden
}
#advisory .left_row, #advisory .right_row {
width: 100%;
text-align: left
}
#advisory .row_contact .inputbox, #advisory .form_contact .type_option, #advisory .form_contact textarea {
margin-left: 0;
width: 100%
}
 .modalPopup {
 width: 92% !important;
 height: 100%;
 overflow: auto
}
.blockcontent1 {
padding: 10px
}
.blockcontent1 .col1 {
width: 90%;
margin: 0;
text-align: left
}
.blockcontent1 input, .blockcontent1 textarea {
width: 100% !important
}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove  
		comment brackets */
