/* line menu One */
#magic-line {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 3px;
	background: #9a0000;
}
.submenu {
	position: relative;
}
.rotate {
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	-ms-border-radius: 70px;
	-o-border-radius: 70px;
	border-radius: 70px;
	animation: mymove 10s linear 0s infinite; /* IE 10+ */
	-webkit-animation: mymove 10s linear 0s infinite; /* Safari 4+ */
	-moz-animation: mymove 10s linear 0s infinite; /* Fx 5+ */
	-o-animation: mymove 10s linear 0s infinite; /* Opera 12+ */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
}
.rotate2 {
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	-ms-border-radius: 70px;
	-o-border-radius: 70px;
	border-radius: 70px;
	animation: mymove 8s linear 0s infinite; /* IE 10+ */
	-webkit-animation: mymove 8s linear 0s infinite; /* Safari 4+ */
	-moz-animation: mymove 8s linear 0s infinite; /* Fx 5+ */
	-o-animation: mymove 8s linear 0s infinite; /* Opera 12+ */
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
}
.pause {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
.trans-left {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	-moz-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
 @-webkit-keyframes mymove /* Safari and Chrome */ {
 from {
 -webkit-transform: rotate(-360deg);
 -moz-transform: rotate(-360deg);
 -o-transform: rotate(-360deg);
 -ms-transform: rotate(-360deg);
 transform: rotate(-360deg);
}
to {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
}
 @-ms-keyframes mymove /* Safari and Chrome */ {
 from {
 -webkit-transform: rotate(-360deg);
 -moz-transform: rotate(-360deg);
 -o-transform: rotate(-360deg);
 -ms-transform: rotate(-360deg);
 transform: rotate(-360deg);
}
to {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
}
 @-moz-keyframes mymove /* Safari and Chrome */ {
 from {
 -webkit-transform: rotate(-360deg);
 -moz-transform: rotate(-360deg);
 -o-transform: rotate(-360deg);
 -ms-transform: rotate(-360deg);
 transform: rotate(-360deg);
}
to {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
}
 @keyframes mymove /* Safari and Chrome */ {
 from {
 -webkit-transform: rotate(-360deg);
 -moz-transform: rotate(-360deg);
 -o-transform: rotate(-360deg);
 -ms-transform: rotate(-360deg);
 transform: rotate(-360deg);
}
to {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
}
.facbook-icon {
	background: #3b5998;
}
.twitter-icon {
	background: #29c5f6;
}
.google-icon {
	background: #d03c2e;
}
.youtube-icon {
	background: #de332c;
}
.skype-call {
	background: #7fb905;
}
.skype-chat {
	background: #00a7e5;
}
.socialIcon ul li, .SkypeIcon ul li {
	margin-right:5px;
}
.socialIcon ul li a, .SkypeIcon ul li a {
	display:block;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	border-radius:3px;
}
/*=====preloader=========*/
.loadContent {
	opacity: 0;
	background: #6c3005!important;
}
.setAcive {
	opacity: 1;
	background: #6c3005!important;
}
.preloader {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
	background: rgb(108,48,4);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2YzMwMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzOSUiIHN0b3AtY29sb3I9IiM2YzMwMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNjIxODE4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, rgba(108, 48, 4, 1) 0%, rgba(108, 48, 4, 1) 39%, rgba(98, 24, 24, 1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(108, 48, 4, 1)), color-stop(39%, rgba(108, 48, 4, 1)), color-stop(100%, rgba(98, 24, 24, 1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(108, 48, 4, 1) 0%, rgba(108, 48, 4, 1) 39%, rgba(98, 24, 24, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(108, 48, 4, 1) 0%, rgba(108, 48, 4, 1) 39%, rgba(98, 24, 24, 1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(108, 48, 4, 1) 0%, rgba(108, 48, 4, 1) 39%, rgba(98, 24, 24, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(108, 48, 4, 1) 0%, rgba(108, 48, 4, 1) 39%, rgba(98, 24, 24, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c3004', endColorstr='#621818', GradientType=1 );
}
 @keyframes spin {
 0%, 100% {
 box-shadow: 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1);
}
 50% {
 transform: rotate(180deg);
}
 25%, 75% {
 box-shadow: 28px 0 0 rgba(255, 255, 255, 1), -28px 0 0 rgba(255, 255, 255, 1), 0 28px 0 rgba(255, 255, 255, 1), 0 -28px 0 rgba(255, 255, 255, 1), 20px -20px 0 rgba(255, 255, 255, 1), 20px 20px 0 rgba(255, 255, 255, 1), -20px -20px 0 rgba(255, 255, 255, 1), -20px 20px 0 rgba(255, 255, 255, 1);
}
 100% {
 transform: rotate(360deg);
 box-shadow: 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1);
}
}
 @keyframes spin2 {
 0%, 100% {
 box-shadow: 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1);
}
 50% {
 transform: rotate(-180deg);
}
 25%, 75% {
 box-shadow: 52px 0 0 rgba(255, 255, 255, 1), -52px 0 0 rgba(255, 255, 255, 1), 0 52px 0 rgba(255, 255, 255, 1), 0 -52px 0 rgba(255, 255, 255, 1), 38px -38px 0 rgba(255, 255, 255, 1), 38px 38px 0 rgba(255, 255, 255, 1), -38px -38px 0 rgba(255, 255, 255, 1), -38px 38px 0 rgba(255, 255, 255, 1);
 background: transparent;
}
 100% {
 transform: rotate(-360deg);
 box-shadow: 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1);
}
}
.btn-special {
	border: none;
	display: inline-block;
	padding: 10px 20px 10px 80px;
	color: #fff;
	font-weight: 400;
	text-transform: capitalize;
	font-family: 'Conv_avantgd';
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
	margin-left: 10px;
	-webkit-box-shadow: 0 1px 5px 0 #424242;
	box-shadow: 0 1px 5px 0 #424242;
	background: rgb(204,48,48);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjMzAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjNTE1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NjMzUzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjA1MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(204, 48, 48, 1) 0%, rgba(204, 81, 81, 1) 50%, rgba(204, 53, 53, 1) 51%, rgba(207, 5, 5, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(204, 48, 48, 1)), color-stop(50%, rgba(204, 81, 81, 1)), color-stop(51%, rgba(204, 53, 53, 1)), color-stop(100%, rgba(207, 5, 5, 1)));
	background: -webkit-linear-gradient(top, rgba(204, 48, 48, 1) 0%, rgba(204, 81, 81, 1) 50%, rgba(204, 53, 53, 1) 51%, rgba(207, 5, 5, 1) 100%);
	background: -o-linear-gradient(top, rgba(204, 48, 48, 1) 0%, rgba(204, 81, 81, 1) 50%, rgba(204, 53, 53, 1) 51%, rgba(207, 5, 5, 1) 100%);
	background: -ms-linear-gradient(top, rgba(204, 48, 48, 1) 0%, rgba(204, 81, 81, 1) 50%, rgba(204, 53, 53, 1) 51%, rgba(207, 5, 5, 1) 100%);
	background: linear-gradient(to bottom, rgba(204, 48, 48, 1) 0%, rgba(204, 81, 81, 1) 50%, rgba(204, 53, 53, 1) 51%, rgba(207, 5, 5, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3030', endColorstr='#cf0505', GradientType=0 );
}
.btn-special span {
	display: block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 35px;
	font-weight: normal;
	top: 50%;
	margin-top: -40px;
	left: 0px;
	margin-left: -20px;
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	color: #cf0505;
	font-weight: bold;
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.btn-special span:before {
	position: absolute;
	content: "";
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	margin-left: -10px;
	margin-top: -10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.82);
}
.btn-special:hover {
	color: #fff;
	text-decoration: none;
	background: rgb(204,22,22);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjMTYxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjNmE2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NjMWExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYTE5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(204, 22, 22, 1) 0%, rgba(204, 106, 106, 1) 50%, rgba(204, 26, 26, 1) 51%, rgba(170, 25, 0, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(204, 22, 22, 1)), color-stop(50%, rgba(204, 106, 106, 1)), color-stop(51%, rgba(204, 26, 26, 1)), color-stop(100%, rgba(170, 25, 0, 1)));
	background: -webkit-linear-gradient(top, rgba(204, 22, 22, 1) 0%, rgba(204, 106, 106, 1) 50%, rgba(204, 26, 26, 1) 51%, rgba(170, 25, 0, 1) 100%);
	background: -o-linear-gradient(top, rgba(204, 22, 22, 1) 0%, rgba(204, 106, 106, 1) 50%, rgba(204, 26, 26, 1) 51%, rgba(170, 25, 0, 1) 100%);
	background: -ms-linear-gradient(top, rgba(204, 22, 22, 1) 0%, rgba(204, 106, 106, 1) 50%, rgba(204, 26, 26, 1) 51%, rgba(170, 25, 0, 1) 100%);
	background: linear-gradient(to bottom, rgba(204, 22, 22, 1) 0%, rgba(204, 106, 106, 1) 50%, rgba(204, 26, 26, 1) 51%, rgba(170, 25, 0, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1616', endColorstr='#aa1900', GradientType=0 );
}
.btn-special:hover span {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.ui-loader {
	display: none;
}
 @-webkit-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-20px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @keyframes fadeInLeft {
 0% {
 opacity: 0;
 transform: translateX(-20px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
 @-webkit-keyframes bounceInDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateY(30px);
}
 80% {
 opacity: 1;
 -webkit-transform: translateY(-10px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes bounceInDown {
 0% {
 opacity: 0;
 -moz-transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 -moz-transform: translateY(30px);
}
 80% {
 opacity: 1;
 -moz-transform: translateY(-10px);
}
 100% {
 opacity: 1;
 -moz-transform: translateY(0);
}
}
 @-o-keyframes bounceInDown {
 0% {
 opacity: 0;
 -o-transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 -o-transform: translateY(30px);
}
 80% {
 -o-transform: translateY(-10px);
 opacity: 1;
}
 100% {
 -o-transform: translateY(0);
 opacity: 1;
}
}
 @keyframes bounceInDown {
 0% {
 opacity: 0;
 transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 transform: translateY(30px);
}
 80% {
 opacity: 1;
 transform: translateY(-10px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}
 @-webkit-keyframes bounceInLeft {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(30px);
}
 80% {
 opacity: 1;
 -webkit-transform: translateX(-10px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @-moz-keyframes bounceInLeft {
 0% {
 opacity: 0;
 -moz-transform: translateX(-2000px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(30px);
}
 80% {
 opacity: 1;
 -moz-transform: translateX(-10px);
}
 100% {
 opacity: 1;
 -moz-transform: translateX(0);
}
}
 @-o-keyframes bounceInLeft {
 0% {
 opacity: 0;
 -o-transform: translateX(-2000px);
}
 60% {
 opacity: 1;
 -o-transform: translateX(30px);
}
 80% {
 opacity: 1;
 -o-transform: translateX(-10px);
}
 100% {
 opacity: 1;
 -o-transform: translateX(0);
}
}
 @keyframes bounceInLeft {
 0% {
 opacity: 0;
 transform: translateX(-2000px);
}
 60% {
 opacity: 1;
 transform: translateX(30px);
}
 80% {
 opacity: 1;
 transform: translateX(-10px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
 @-webkit-keyframes fadeInRightBig {
 0% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @-moz-keyframes fadeInRightBig {
 0% {
 opacity: 0;
 -moz-transform: translateX(2000px);
}
 100% {
 opacity: 1;
 -moz-transform: translateX(0);
}
}
 @-o-keyframes fadeInRightBig {
 0% {
 opacity: 0;
 -o-transform: translateX(2000px);
}
 100% {
 opacity: 1;
 -o-transform: translateX(0);
}
}
 @keyframes fadeInRightBig {
 0% {
 opacity: 0;
 transform: translateX(2000px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
 @-webkit-keyframes fadeIn {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
 @-moz-keyframes fadeIn {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
 @keyframes fadeIn {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
 @-o-keyframes fadeIn {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
 @-webkit-keyframes bounceIn {
 0% {
 opacity: 0;
 -webkit-transform: scale(.3);
}
 50% {
 opacity: 1;
 -webkit-transform: scale(1.05);
}
 70% {
 opacity: 1;
 -webkit-transform: scale(.9);
}
 100% {
 opacity: 1;
 -webkit-transform: scale(1);
}
}
 @-moz-keyframes bounceIn {
 0% {
 opacity: 0;
 -moz-transform: scale(.3);
}
 50% {
 opacity: 1;
 -moz-transform: scale(1.05);
}
 70% {
 opacity: 1;
 -moz-transform: scale(.9);
}
 100% {
 opacity: 1;
 -moz-transform: scale(1);
}
}
 @-o-keyframes bounceIn {
 0% {
 opacity: 0;
 -o-transform: scale(.3);
}
 50% {
 opacity: 1;
 -o-transform: scale(1.05);
}
 70% {
 opacity: 1;
 -o-transform: scale(.9);
}
 100% {
 opacity: 1;
 -o-transform: scale(1);
}
}
 @keyframes bounceIn {
 0% {
 opacity: 0;
 transform: scale(.3);
}
 50% {
 opacity: 1;
 transform: scale(1.05);
}
 70% {
 opacity: 1;
 transform: scale(.9);
}
 100% {
 opacity: 1;
 transform: scale(1);
}
}
 @-webkit-keyframes pulse {
 0% {
 -webkit-transform: scale(1);
}
 50% {
 -webkit-transform: scale(1.1);
}
 100% {
 -webkit-transform: scale(1);
}
}
 @-moz-keyframes pulse {
 0% {
 -moz-transform: scale(1);
}
 50% {
 -moz-transform: scale(1.1);
}
 100% {
 -moz-transform: scale(1);
}
}
 @-o-keyframes pulse {
 0% {
 -o-transform: scale(1);
}
 50% {
 -o-transform: scale(1.1);
}
 100% {
 -o-transform: scale(1);
}
}
 @keyframes pulse {
 0% {
 transform: scale(1);
}
 50% {
 transform: scale(1.1);
}
 100% {
 transform: scale(1);
}
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}
 @media (max-width:768px) {
 .btn-special {
 border: none;
 display: inline-block;
 padding: 5px 15px 5px 60px;
 color: #fff;
 font-weight: normal;
 text-transform: capitalize;
 font-family: avantgarde;
}
 .btn-special span {
 display: block;
 width: 70px;
 height: 70px;
 line-height: 70px;
 font-size: 25px;
 font-weight: normal;
 margin-top: -35px;
 margin-left: -10px;
}
 .btn-special span:before {
 position: absolute;
 content: "";
 width: 80px;
 height: 80px;
 left: 0px;
 top: 0px;
 margin-left: -5px;
 margin-top: -5px;
}
 .facbook {
 display: none;
}
}
 @-webkit-keyframes bubble {
 0% {
 -webkit-transform: translate3d(0, 0, 0);
 -moz-transform: translate3d(0, 0, 0);
 -ms-transform: translate3d(0, 0, 0);
 -o-transform: translate3d(0, 0, 0);
}
 25% {
 -webkit-transform: translate3d(0px, -20px, 0);
 -moz-transform: translate3d(0px, -20px, 0);
 -ms-transform: translate3d(0px, -20px, 0);
 -o-transform: translate3d(0px, -20px, 0);
}
 50% {
 -webkit-transform: translate3d(0px, 40px, 0px);
 -moz-transform: translate3d(0px, 40px, 0px);
 -ms-transform: translate3d(0px, 40px, 0px);
 -o-transform: translate3d(0px, 40px, 0px);
}
 100% {
 -webkit-transform: translate3d(0, 20px, 0);
 -moz-transform: translate3d(0, 20px, 0);
 -ms-transform: translate3d(0, 20px, 0);
 -o-transform: translate3d(0, 20px, 0);
}
}
 @keyframes bubble {
 0% {
 -webkit-transform: translate3d(0, 0, 0);
 -moz-transform: translate3d(0, 0, 0);
 -ms-transform: translate3d(0, 0, 0);
 -o-transform: translate3d(0, 0, 0);
}
 25% {
 -webkit-transform: translate3d(0px, -20px, 0);
 -moz-transform: translate3d(0px, -20px, 0);
 -ms-transform: translate3d(0px, -20px, 0);
 -o-transform: translate3d(0px, -20px, 0);
}
 50% {
 -webkit-transform: translate3d(0px, 40px, 0px);
 -moz-transform: translate3d(0px, 40px, 0px);
 -ms-transform: translate3d(0px, 40px, 0px);
 -o-transform: translate3d(0px, 40px, 0px);
}
 100% {
 -webkit-transform: translate3d(0, 20px, 0);
 -moz-transform: translate3d(0, 20px, 0);
 -ms-transform: translate3d(0, 20px, 0);
 -o-transform: translate3d(0, 20px, 0);
}
}
.sidebar {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 150;
}
.inter-icon:before {
	width: 65px;
	color: rgba(255, 255, 255, 0.80);
	text-shadow: 0 1px 2px #080808;
}
.CircleBlock {
	position: absolute;
	top: -100%;
	left: 0%;
	width: 280px;
	height: 280px;
	z-index: 999
}
.CircleBlock .innerCircle {
	position:absolute;
	width:90%;
	height:90%;
	top:5%;
	left:5%;
}
.circle0 {
	width: 100%;
	height: 100%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50%;
	margin-left: -50%;
	background: url(../Images/circle-l-lg.png) no-repeat center;
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-ms-background-size: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
}
.circle1 {
	width: 95%;
	height: 95%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -47.5%;
	margin-left: -47.5%;
	background: url(../Images/circle-l.png) no-repeat center;
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-ms-background-size: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 3;
}
.circle2 {
	width: 82%;
	height: 82%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -41%;
	margin-left: -41%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	z-index: 2;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: url(../Images/data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zMyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.33) 50%, rgba(255, 255, 255, 0.33) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(49%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.33)), color-stop(100%, rgba(255, 255, 255, 0.33)));
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.33) 50%, rgba(255, 255, 255, 0.33) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.33) 50%, rgba(255, 255, 255, 0.33) 100%);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.33) 50%, rgba(255, 255, 255, 0.33) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.33) 50%, rgba(255, 255, 255, 0.33) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#54ffffff', GradientType=1 );
}
.primary-circle {
	width: 74%;
	height: 74%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -37%;
	margin-left: -37%;
	background: url(../Images/circle-w.png) no-repeat;
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-ms-background-size: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	z-index: 5;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.textCircle {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease!important;
	-moz-transition: all 0.3s ease!important;
	-ms-transition: all 0.3s ease!important;
	-o-transition: all 0.3s ease!important;
	transition: all 0.3s ease!important;
	width: 76%;
	height: 76%;
	z-index: 999;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	margin-top: -38%;
	margin-left: -38%;
	background: none;
}
.zoomin {
	-webkit-transition: all 0.3s ease!important;
	-moz-transition: all 0.3s ease!important;
	-ms-transition: all 0.3s ease!important;
	-o-transition: all 0.3s ease!important;
	transition: all 0.3s ease!important;
	-moz-transform: scale(1.3)!important;
	-webkit-transform: scale(1.3)!important;
	-o-transform: scale(1.3)!important;
	-ms-transform: scale(1.3)!important;
	transform: scale(1.3)!important;
}
.circle3 {
	width: 74%;
	height: 74%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -37%;
	margin-left: -37%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	z-index: 4;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.circle3:before {
	position: absolute;
	top: 98%;
	width: 13%;
	height: 25%;
	left: 50%;
	content: "";
	z-index: -3;
	background: url(../Images/../images/icon/pencil.png) no-repeat;
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-ms-background-size: 100%;
	-moz-transform: translate(-50%, -20%);
	-webkit-transform: translate(-50%, -20%);
	-o-transform: translate(-50%, -20%);
	-ms-transform: translate(-50%, -20%);
	transform: translate(-50%, -20%);
}
.primary-circle ul {
	list-style: none;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.primary-circle ul li {
	position: absolute;
	height: 50%;
	width: 80%;
	left: 10%;
	top: 15px;
	text-align: center;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}
.primary-circle ul li:hover {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}
 .primary-circle ul li:nth-child(2) {
 top: auto;
 bottom: -26px;
 width: 76%;
 left: 12%;
}
.primary-circle ul li a {
	text-decoration: none;
	display: block;
	text-align: center;
	height: 100%;
	width: 100%;
}
 .primary-circle ul li:nth-child(1) a {
 -moz-transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 .primary-circle ul li:nth-child(2) a {
 -moz-transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}
 .primary-circle ul li:nth-child(3) a {
 -moz-transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}
.primary-circle ul li a i {
	display: block;
	background: url(../Images/../images/icon/hover.png) no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -16px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
 .primary-circle ul li:nth-child(1) a .icon-1 {
 background-position: -180px 0px;
}
 .primary-circle ul li:hover:nth-child(1) a .icon-1 {
 background-position: -210px 0px;
}
 .primary-circle ul li:nth-child(2) a .icon-2 {
 background-position: -120px 0px;
 -moz-transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 .primary-circle ul li:hover:nth-child(2) a .icon-2 {
 background-position: -150px 0px;
}
 .primary-circle ul li:nth-child(3) a .icon-3 {
 margin-left: 0px;
 margin-top: -16px;
 background-position: -60px 0px;
 -moz-transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 .primary-circle ul li:hover:nth-child(3) a .icon-3 {
 background-position: -90px 0px;
}
 .primary-circle ul li:nth-child(4) a .icon-4 {
 margin-left: -30px;
 margin-top: -10px;
 background-position: 0px 0px;
 -moz-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 transform: rotate(0deg);
}
 .primary-circle ul li:hover:nth-child(4) a .icon-4 {
 background-position: -30px 0px;
}
.primary-circle ul li span {
	color: rgb(243,243,245);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	display: block;
	position: absolute;
	top: auto;
	left: 10%;
	-moz-transform: scale(0)!important;
	-webkit-transform: scale(0)!important;
	-o-transform: scale(0)!important;
	-ms-transform: scale(0)!important;
	transform: scale(0)!important;
	-moz-transform: translateY(-60%);
	-webkit-transform: translateY(-60%);
	-o-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
	transform: translateY(-60%);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.primary-circle ul li:hover span {
	top: 0;
	-moz-transform: scale(1)!important;
	-webkit-transform: scale(1)!important;
	-o-transform: scale(1)!important;
	-ms-transform: scale(1)!important;
	transform: scale(1)!important;
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
.inner-circle {
	width: 40%;
	height: 40%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border: 1px solid #951779;
	overflow: hidden;
	z-index: 999;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20.5%;
	margin-top: -20.5%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	background: rgb(206,60,171);
	background: -moz-radial-gradient(center, ellipse cover, rgba(206, 60, 171, 1) 0%, rgba(206, 60, 171, 1) 23%, rgba(148, 23, 121, 1) 64%, rgba(148, 23, 121, 1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(206, 60, 171, 1)), color-stop(23%, rgba(206, 60, 171, 1)), color-stop(64%, rgba(148, 23, 121, 1)), color-stop(100%, rgba(148, 23, 121, 1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(206, 60, 171, 1) 0%, rgba(206, 60, 171, 1) 23%, rgba(148, 23, 121, 1) 64%, rgba(148, 23, 121, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(206, 60, 171, 1) 0%, rgba(206, 60, 171, 1) 23%, rgba(148, 23, 121, 1) 64%, rgba(148, 23, 121, 1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(206, 60, 171, 1) 0%, rgba(206, 60, 171, 1) 23%, rgba(148, 23, 121, 1) 64%, rgba(148, 23, 121, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(206, 60, 171, 1) 0%, rgba(206, 60, 171, 1) 23%, rgba(148, 23, 121, 1) 64%, rgba(148, 23, 121, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0001', endColorstr='#9b0c0e', GradientType=1 );
}
.inner-circle:hover {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(238, 51, 198, 1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(238, 51, 198, 1);
	box-shadow: 0px 0px 20px 0px rgba(238, 51, 198, 1);
	background: rgb(204,0,0);
	background: -moz-radial-gradient(center, ellipse cover, rgba(234, 69, 195, 1) 0%, rgba(234, 69, 195, 1) 35%, rgba(173, 27, 142, 1) 62%, rgba(158, 0, 1, 1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(234, 69, 195, 1)), color-stop(35%, rgba(234, 69, 195, 1)), color-stop(62%, rgba(173, 27, 142, 1)), color-stop(100%, rgba(158, 0, 1, 1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(234, 69, 195, 1) 0%, rgba(234, 69, 195, 1) 35%, rgba(173, 27, 142, 1) 62%, rgba(158, 0, 1, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(234, 69, 195, 1) 0%, rgba(234, 69, 195, 1) 35%, rgba(173, 27, 142, 1) 62%, rgba(158, 0, 1, 1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(234, 69, 195, 1) 0%, rgba(234, 69, 195, 1) 35%, rgba(173, 27, 142, 1) 62%, rgba(158, 0, 1, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(234, 69, 195, 1) 0%, rgba(234, 69, 195, 1) 35%, rgba(173, 27, 142, 1) 62%, rgba(158, 0, 1, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#9e0001', GradientType=1 );
}
.inner-circle .inner {
	text-align: center;
	width: 100%;
	height: 100%;
}
.inner-circle .inner a {
	display: block;
	width: 100%;
	height: 100%;
}
.inner-circle .inner img, .inner-circle .inner span {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	color: #fff;
	text-shadow: -1px -1px 5px #757575;
	/*padding: 10px;*/
            -moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.rotate90 {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.rotate135 {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}
.rotate-135 {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.rotate-45 {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	-moz-transform: rotate(-45deg)!important;
	-webkit-transform: rotate(-45deg)!important;
	-o-transform: rotate(-45deg)!important;
	-ms-transform: rotate(-45deg)!important;
	transform: rotate(-45deg)!important;
}
.rotate45 {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rotate-90 {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
