/*Send Email Print*/
.modalBackground {
	background-color: Black;
	opacity: 0.8;
}
.modalPopup {
	background-color: #FFFFFF;
	border-color: #949494;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 10px;
	height: auto;
	width: 430px;
}
#outter_print {
	width: 600px;
	margin: 0px auto;
	padding: 0
}
/*Email*/
div.row {
	float: left;
	margin: 5px 0;
	position: relative;
	width: 100%;
}
.col1 {
	float: left;
}
.left_col {
	display: block;
	margin-right: 5px;
	text-align: left;
	width: 49%;
}
div.row1 {
	float: left;
	margin: 10px 0;
	width: 100%;
}
.left_col1 {
	display: block;
	line-height: 25px;
	margin-right: 10px;
	text-align: right;
	width: 25%;
}
.right_col1 {
	display: block;
	text-align: left;
	width: 70%;
}
.right_col1 input {
	border: 1px solid #D9D6D6;
	height: 15px;
	padding: 4px;
	width: 280px;
}
.right_col1 textarea {
	border: 1px solid #D9D6D6;
	font: 12px Tahoma;
	height: 85px;
	padding: 4px;
	width: 280px;
}
.p_title {
	float: left;
	font-weight: bold;
	padding: 5px 0 0 10px;
}
.button {
	margin: 5px auto;
	display: inline-block;
}
span.required {
	color: #FF0000;
	left: 5px;
	margin-right: 5px;
	position: relative;
}
.buttonE {
	margin: 5px auto;
	display: inline-block;
}
/*-----------------------------Pop Up--------------------------------*/
.block {
	clear: both;
	margin: 0 0 5px;
	width: 100%;
}
.p_title {
	float: left;
	font-weight: bold;
	padding: 5px 0 0 10px;
}
div.row {
	float: left;
	width: 100%;
}
.col {
	float: left;
}
span.required {
	color: #FF0000;
	left: 5px;
	margin-right: 5px;
	position: relative;
}
.left_col {
	color: #000000;
	display: block;
	line-height: 25px;
	margin-right: 10px;
	text-align: right;
	width: 30%;
}
.right_col {
	display: block;
	text-align: left;
	width: 68%;
}
div.right_col * {
	float: left;
	margin-top: 2px;
	width: 280px;
}
.right_col input {
	border: 1px solid #D9D6D6;
	font: 12px Tahoma;
	padding: 4px;
	width: 280px !important;
}
.right_col input {
	height: 15px;
}
.note {
	font: 11px Tahoma;
	padding-left: 25%;
}
.toolbar a.button {
	background: none repeat scroll 0 0 transparent;
	float: left;
	margin: 10px 0 10px 35%;
}
.toolbar .close a.button {
	background: none repeat scroll 0 0 transparent;
	float: right;
}
